        
/* CSS Congresos UNIR 2014 */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    color: #333;
    font-size: 14px;
    line-height:22px;
    font-weight: lighter;
}




/* FONTS */



@font-face {
    font-family: 'UnitM';
    src: url('../fonts/unitcomp-webfont.eot');
    src: url('../fonts/unitcomp-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/unitcomp-webfont.woff') format('woff'),
        url('../fonts/unitcomp-webfont.ttf') format('truetype'),
        url('../fonts/unitcomp-webfont.svg#unitcompregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'UnitL';
    src: url('../fonts/unitcomp-light-webfont.eot');
    src: url('../fonts/unitcomp-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/unitcomp-light-webfont.woff') format('woff'),
        url('../fonts/unitcomp-light-webfont.ttf') format('truetype'),
        url('../fonts/unitcomp-light-webfont.svg#unitcomp-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Caecilia';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CaeciliaLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/CaeciliaLTStd-Roman.woff") format("woff"), url("../fonts/CaeciliaLTStd-Roman.ttf") format("truetype");
}

@font-face {
    font-family: "CaeciliaL";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CaeciliaLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CaeciliaLTStd-Light.woff") format("woff"), url("../fonts/CaeciliaLTStd-Light.ttf") format("truetype");
}



/* COLOR TABLE */


.color-primary {
    color:#008fbf!important;
}

.color-secondary {
    color:#74b90a!important;
}	

.color-marked {
    color:#e98900!important;
}

.color-000 {
    color:#000!important;
}	


.color-333 {
    color:#333!important;
}	


.color-666 {
    color:#666!important;
}	


.color-999 {
    color:#999!important;
}	

.color-CCC {
    color:#CCC!important;
}	


.color-FFF {
    color:#FFF!important;
}	




.bg-color-000 {
    background-color:#000;
}	


.bg-color-333 {
    background-color:#333;
}	


.bg-color-666 {
    background-color:#666;
}	


.bg-color-999 {
    background-color:#999;
}	


.bg-color-CCC {
    background-color:#CCC;
}	

.bg-color-eee {
    background-color:#eee;
}	


.bg-color-f7 {
    background-color:#f7f7f7;
}	

.bg-color-fd {
    background-color:#fdfdfd;
}	




.bg-color-FFF {
    background-color:#FFF;
}	





.bg-color-primary {
    background-color:#008fbf!important;
}



.bg-color-secondary {
    background-color:#b68400;
}



.bg-color-resalted {
    background-color:#b68400;
}


.bg-color-halfblack {
    background-image:url(../img/fondoHalfBlack.png);
    background-position:left;
    background-repeat:repeat-x; 
    background-size:cover;
}



.bg-color-almostBlack {
    background-image:url(../img/fondoAlmostBlack.png);
    background-position:left;
    background-repeat:repeat-x; 
    background-size:cover;
}




.bg-color-semi-trans {
    background-image:url(../img/fondo-semi-transparent.png);
    background-position:left;
    background-repeat:repeat-x; 
    background-size:cover;
}


.bg-color-almost-trans {
    background-image:url(../img/fondo-almost-transparent.png);
    background-position:left;
    background-repeat:repeat-x; 
    background-size:cover;
}


.bg-color-halfWhite {
    background-image:url(../img/fondoHalfWhite.png);
    background-position:left;
    background-repeat:repeat-x; 
    background-size:cover;
}


.bg-color-grad-white {
    background-image:url(../img/fondo-grad-fff.png);
    background-position:top;
    background-repeat:repeat-x; 
}

.gradient-light {
	
	background: #ffffff; /* Old browsers */

	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


} 

/* STRUCTURE */	

.width-100 {
    width: 100%
}


/* STRUCTURE PADDING */	


.padding-3 {
    padding:3px;
}

.padding-6 {
    padding:6px;
}

.padding-9 {
    padding:9px;
}

.padding-12 {
    padding:12px;
}

.padding-15 {
    padding:15px;
}

.padding-18 {
    padding:18px;
}

.padding-24 {
    padding:24px;
}


.padding-30 {
    padding:30px;
}


.padding-left-3 {
    padding-left:3px;
}

.padding-left-6 {
    padding-left:6px;
}

.padding-left-9 {
    padding-left:9px;
}

.padding-left-12 {
    padding-left:12px;
}

.padding-left-15 {
    padding-left:15px;
}

.padding-left-18 {
    padding-left:18px;
}

.padding-left-24 {
    padding-left:24px;
}


.padding-left-30 {
    padding-left:30px;
}



.padding-right-3 {
    padding-right:3px;
}

.padding-right-6 {
    padding-right:6px;
}

.padding-right-9 {
    padding-right:9px;
}

.padding-right-12 {
    padding-right:12px;
}

.padding-right-15 {
    padding-right:15px;
}

.padding-right-18 {
    padding-right:18px;
}

.padding-right-24 {
    padding-right:24px;
}

.padding-right-30 {
    padding-right:30px;
}




.padding-bottom-3 {
    padding-bottom:3px;
}

.padding-bottom-6 {
    padding-bottom:6px;
}

.padding-bottom-9 {
    padding-bottom:9px;
}

.padding-bottom-12 {
    padding-bottom:12px;
}

.padding-bottom-15 {
    padding-bottom:15px;
}

.padding-bottom-18 {
    padding-bottom:18px;
}

.padding-bottom-24 {
    padding-bottom:24px;
}


.padding-top-3 {
    padding-top:3px;
}

.padding-top-6 {
    padding-top:6px;
}

.padding-top-9 {
    padding-top:9px;
}

.padding-top-12 {
    padding-top:12px;
}

.padding-top-15 {
    padding-top:15px;
}

.padding-top-18 {
    padding-top:18px;
}

.padding-top-24 {
    padding-top:24px;
}



.padding-lr-15 {
    padding-left:15px;
    padding-right:15px;
}


.main-content {
	padding-top:15px;
	padding-right:30px;
	}

/* END STRUCTURE PADDING */	




/* STRUCTURE MARGIN */	


.margin-3 {
    margin:3px;
}

.margin-6 {
    margin:6px;
}

.margin-9 {
    margin:9px;
}

.margin-12 {
    margin:12px;
}

.margin-15 {
    margin:15px;
}

.margin-18 {
    margin:18px;
}

.margin-24 {
    margin:24px;
}



.margin-left-0 {
    margin-left:0px;
}

.margin-left-3 {
    margin-left:3px;
}

.margin-left-6 {
    margin-left:6px;
}

.margin-left-9 {
    margin-left:9px;
}

.margin-left-12 {
    margin-left:12px;
}

.margin-left-15 {
    margin-left:15px;
}

.margin-left-18 {
    margin-left:18px;
}

.margin-left-24 {
    margin-left:24px;
}




.margin-right-0 {
    margin-right:0px;
}
.margin-right-3 {
    margin-right:3px;
}

.margin-right-6 {
    margin-right:6px;
}

.margin-right-9 {
    margin-right:9px;
}

.margin-right-12 {
    margin-right:12px;
}

.margin-right-15 {
    margin-right:15px;
}

.margin-right-18 {
    margin-right:18px;
}

.margin-right-24 {
    margin-right:24px;
}




.margin-bottom-0 {
    margin-bottom:0px;
}


.margin-bottom-3 {
    margin-bottom:3px;
}

.margin-bottom-6 {
    margin-bottom:6px;
}

.margin-bottom-9 {
    margin-bottom:9px;
}

.margin-bottom-12 {
    margin-bottom:12px;
}

.margin-bottom-15 {
    margin-bottom:15px;
}

.margin-bottom-18 {
    margin-bottom:18px;
}

.margin-bottom-24 {
    margin-bottom:24px;
}


.margin-top-0 {
    margin-top:0px;
}

.margin-top-3 {
    margin-top:3px;
}

.margin-top-6 {
    margin-top:6px;
}

.margin-top-9 {
    margin-top:9px;
}

.margin-top-12 {
    margin-top:12px;
}

.margin-top-15 {
    margin-top:15px;
}

.margin-top-18 {
    margin-top:18px;
}

.margin-top-24 {
    margin-top:24px;
}

.margin-top-menos-6 {
	margin-top:-6px;
	}


.margin-lr-15px {
    margin-left:15px;
    margin-right:15px;
}


/* END STRUCTURE MARGIN */	




/* CORPORATIVE TAGS */

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    font-size:14px;
}


footer {
    font-family: Helvetica, Arial, sans-serif;
    color: #CCC;
}


header .logo { 
    margin: 14px 0 10px 0px;
}



.claim {
    font-family: 'CaeciliaL', Helvetica, Arial, sans-serif; 
    font-size:1.4em;
	line-height:1.4em; 
    color: #FFFFFF;
	margin:0px;
	padding:9px;
}


.claim-ficha {
    font-family: 'CaeciliaL', Helvetica, Arial, sans-serif; 
    font-size:1.4em;
	line-height:1.4em; 
    color: #FFFFFF;
	margin:0px;
	background-image:url(../img/comillas.png);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:72px;
	padding-top:18px;  
}


.claim-ficha-autor {
    font-family: 'CaeciliaL', Helvetica, Arial, sans-serif; 
    font-size:1em;
	line-height:1.2em; 
    color: #FFFFFF;
	margin:0px;
	padding-left:72px;
}


header .claim p {
    font-family: 'UnitL', Helvetica, Arial, sans-serif; 
    font-size:1em; 
    color: #008fbf;  
    text-align: right;
    padding: 18px 15px 0px 0px; 
    text-shadow: none;
}


h1 {
    font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#000000;
    font-size:2.4em;
    line-height:1.1em; 
    font-weight:lighter;
}


h2 {
    font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#333;
    font-size:1.9em;
    line-height:1.8em; 
    font-weight: bolder;
	padding-top:0px;
	padding-bottom:6px;
}

h2.minih2 {
    font-size:1.5em;
}


h3 {
    font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#333;
    font-size:1.5em;
   	line-height:1.4em;  
}



h3 a {
    border-bottom:1px dotted #f4f4f4;
    font-weight:lighter; 
    text-decoration:none;
}

h3 a:hover {
    color:#333;
    text-decoration:underline;
}

h3.minih3 {
    font-family: CaeciliaL, Helvetica, Arial, sans-serif;
    color:#333;
    font-size:1.3em;
}

h4 {
    font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#333;
    font-size:1.2em;
   	line-height:1.2em;  
    font-weight:lighter;
}



h4 strong {
    font-family: 'Caecilia', Helvetica, Arial, sans-serif;
}


h4.minih4 {
    font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#333;
    font-size:1em;
   	line-height:1.2em;  
    font-weight:lighter;
}

p {
    font-family: Helvetica, Arial, sans-serif; 
    font-size:1.1em;
    font-weight:lighter;
}


a {
    color:#008fbf;
    font-weight:lighter;
}

a:hover {
    color:#333 ;
}




.caeciliaL {
    font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
}



table {
    border-bottom:3px solid #D7D7D7 ;

}


th{
    background-color:#F4F4F4;
    font-family: 'UnitL', Helvetica, Arial, sans-serif;
    font-size:1.2em;
    font-weight:lighter;
    padding:6px 18px;
    border-bottom:1px solid #ccc;
    height:48px;

}

tr:nth-last-child() {
	height:200px;
	}

td {
    padding:6px 18px;	
    border-bottom:1px solid #ccc;
    height:60px;
}

.destacado {
    font-family: 'UnitL', Helvetica, Arial, sans-serif;
    font-size:1.2em;
    font-weight:lighter;
}


.outstanding {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#333;
    font-size:1.8em;
    line-height:30px; 
    font-weight:normal;
	padding:24px;
	}


.main-info {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#74b90a;
    font-size:1.2em;
    line-height:0.9em; 
	margin-bottom:24px;
	}


p.who a {
    color:#008fbf; 
    text-decoration: none; 
}

.resalted-icons {
    font-family: CaeciliaL, Helvetica, Arial, sans-serif;
    color:#008fbf;
    font-size:1.2em;
   	line-height:1.1em;  
    font-weight:lighter;
	}


a.download  {
    font-family: CaeciliaL, Helvetica, Arial, sans-serif;
    color:#008fbf;
    font-size:1em;
   	line-height:1.1em;  
    font-weight:lighter;
	text-decoration:underline;
}

a.download:hover  {
    color:#333;
}



.banner {
	background-color:#008fbf;
	padding:21px;
	font-family: "CaeciliaL", Times, "Times New Roman", serif;
	font-size:1.6em;
	line-height:1.5em;
	color:#FFF;
	font-weight:lighter;
	text-align:center;
	margin-top:21px;
	margin-bottom:21px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	
	}



.seccion {
	background-color:#fafafa;
	padding:15px;
	font-family: "CaeciliaL", Times, "Times New Roman", serif;
	color:#333;
	font-weight:lighter;
	margin-top:21px;
	margin-bottom:21px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	
	}

.related {
    font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#333;
    font-size:1.2em;
   	line-height:1.2em;  
    font-weight:lighter;
	padding-top:3px;
}

.bigger {
	font-size:1.2em;
	}

.smaller {
	font-size:0.9em;
	}

/* DESIGN ITEMS */


.border-solid-CCC {
    border:solid 1px #CCC;
}

.border-dotted-CCC {
    border:dotted 1px #CCC;
}

.border-semi-333 {
    border:solid 3px #000;
}

.border-strong-333 {
    border:solid 5px #000;
}


.border-semi-666 {
    border:solid 3px #666;
}

.border-top-solid-CCC {
    border-top:solid 1px #CCC;
}

.border-top-dotted-CCC {
    border-top:dotted 1px #CCC;
}


.border-bottom-solid-999 {
    border-bottom:solid 1px #999;
}


.border-bottom-solid-CCC {
    border-bottom:solid 1px #CCC;
}



.border-bottom-dotted-CCC {
    border-bottom:dotted 1px #CCC;
}


.border-bottom-dotted-light {
    border-bottom:dotted 1px #f4f4f4;
}


.border-top-solid-333 {
    border-top:solid 1px #333;
}

.border-top-dotted-333 {
    border-top:dotted 1px #333;
}


.border-bottom-solid-333 {
    border-bottom:solid 1px #333;
}

.border-bottom-dotted-333 {
    border-bottom:dotted 1px #333;
}


.border-bottom-solid-000 {
    border-bottom:solid 1px #000;
}

.border-bottom-dotted-000 {
    border-bottom:dotted 1px #000;
}



.border-top-solid-secondary {
    border-top:solid 5px #e98900;
}



.border-top-solid-primary {
    border-top:solid 5px #008fbf;
}

.border-bottom-strong-000 {
    border-bottom:solid 5px #000;
}


.border-divider-right {
    border-right:1px solid #007ca5;
    padding-right:12px;
}

.border-divider-left {
    border-left:1px solid #007ca5;
    padding-left:12px;
}



.border-ea {
	border:1px solid #EAEAEA;
}

.border-divider-shadow {
	background-image:url(../img/divider-shadow.png);
	background-position:center;
	background-repeat: no-repeat;
	padding:24px 0px;
	}

/* ICONS*/

.icon:hover {
    opacity:.8;
    -webkit-transition: opacity 0.2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.2s;
}


.more {

    position:absolute;
    margin:0;
    left:0px;
    top:0px;
    width:100%;
    height:220px;
    background-color:#FFFFFF;
    background-image:url(../img/more.png);
    background-position:center center;
    background-repeat:no-repeat;
    cursor:pointer;
    opacity:0;
    border:none;
}
.more:hover {
    opacity:.6;

}


.bg-play {
	position:absolute;
	left:12px;
	bottom:12px;
	margin-left:12px;
	background-image:url(../img/fondoHalfBlack.png);
	background-repeat:repeat-x;
	background-position:left;
	padding:6px 12px;
	color:#FFF;
	font-family:'UnitL', Helvetica, Arial, sans-serif;
    font-size:1.1em;
	font-weight:lighter;
	border:1px solid #DADADA;
	opacity:.9;
	}


.bg-play:hover {
	opacity:1;
	border:1px solid #fff;
	}

.relative {
	position:relative;
	}

.logo-footer {
    opacity:.4;
}

.icon-facebook {
    background:url(../img/icon-facebook.png) no-repeat;
    background-position:left;
    width:42px;
    height:50px;
    display: block;
}

.icon-twitter {
    background:url(../img/icon-twitter.png) no-repeat; 
    background-position:left;
    width:42px;
    height:50px;
    display: block;
}

.icon-youtube {
    background:url(../img/icon-youtube.png) no-repeat;
    background-position:left;
    width:42px;
    height:50px;
    display: block;
}

.icon-google {
    background:url(../img/icon-googleplus.png) no-repeat;
    background-position:left;
    width:42px;
    height:50px;
    display: block;
}


.icon-maps {
    background:url(../img/icon-maps.png) no-repeat;
    background-position:left;
    width:42px;
    height:50px;
    display: block;
}


.icon-linkedin {
    background:url(../img/icon-linkedin.png) no-repeat;
    background-position:left;
    width:42px;
    height:50px;
    display: block;
}


.icon-rss {
    background:url(../img/icon-rss.png) no-repeat; 
    background-position:left;
    width:42px;
    height:50px;
    display: block;
}

.icon-mail {
    background-image:url(../img/icon-mail.png);
    background-position:left;
    background-repeat:no-repeat;
    height:48px;
    padding-left:48px!important;
    padding-top:15px;
    display:block;
}

.icon-phone {
    background-image:url(../img/icon-phone.png);
    background-position:left;
    background-repeat:no-repeat;
    height:48px;
    padding-top:15px;
    padding-left:48px!important;
    display:block;
}

.icon-campus {
    background-image:url(../img/campus-virtual.png);
    background-repeat:no-repeat;
    background-position:left;
}



.icon-related {
    background-image:url(../img/icon-comunity.png);
    background-position:left;
    background-repeat:no-repeat;
    height:48px;
    padding-top:15px;
    padding-left:48px!important;
    display:block;
}


/* BEHAVIORS TAGS */			

a.color-CCC:hover {
    color:#FFF;
}

.galeria {
	width:36px;
	height:36px;
	position:absolute;
	margin-left:12px;
	margin-top:6px;
	background-image:url(../img/galeria.png);
	background-position:left;
	background-repeat:no-repeat;

	}

section.noticias p {
	font-size:0.9em;
	line-height:1.2em;
	} 

	  
.galeria-img:hover img {
	border-color:#008FBF;
	}

/* SPECIALS TAGS */

.video {

    min-height:220px;
}




.modal-iframe {
	width:640px;
	height:378px;
	}


	.modal-dialog {
	width: 680px;
	
	}


#vcontainer1_wrapper {
	width:90%!important;}


.nowrap {
    white-space:nowrap;
}

.slogan {
    font-family:'UnitL', Helvetica, Arial, sans-serif;
    font-size:1.5em;
    color:#008fbf;
} 

.blockFull {
    display:block;
    width:100%;
    clear:both;
}


.subject-list {
    background-color:#f4f4f4;
    padding:12px;
}

.subject-list:nth-child(odd)
{
    background-color:#FAFAFA;
}
.subject-list:nth-child(even)
{
    background:#FFF;
}


.subject {
    font-size:1.2em;
    font-weight:normal;
    border-bottom:1px solid #f4f4f4;
}


.info-subject {
    color:#666;
    font-weight:lighter;
}


.list-square {
    list-style:square;
}

ul.list-arrow {
	padding-left:0px;
	margin-left:24px;
	list-style:none;
	}
	
ul.list-arrow li {
	background-image:url(../img/list-arrow.png);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:24px;
	}

ul.b-crumb li {
    padding-right: 18px;
    padding-left: 0px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 0px;
    margin-right: 0px;
    font-weight:lighter;
}


ul.b-crumb li a {
    text-decoration:none;
    color:#666;
    font-weight:lighter;
}

.text-info {
    font-size:0.85em;
}



.edicion {
	background:#FFFFFF!important;
	background-color:#FFFFFF!important;
	}

.figcaption-videos {
	min-height:320px;
	}
	
.figcaption-videos p{
	min-height:192px;
	}	

/* DECORATION */

.border-radius-3 {
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


.border-radius-6 {
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}


.border-radius-0-6 {
    border-radius:0px 0px 6px 6px;
    -moz-border-radius:0px 0px 6px 6px;
    -webkit-border-radius:0px 0px 6px 6px;
}


.bg-head {
    background-color:#f2f2f2;
    border-bottom:1px solid #CCC;
    display:block;
    width:100%;
    padding:12px 9px 9px 9px;
}
.bg-content {
    border-left:1px solid #EAEAEA;
	border-right:1px solid #EAEAEA;
	border-bottom:1px solid #EAEAEA;
	background-color:#fdfdfd;
}


.whiteBox {
    background-color:#FFF; 
    border:1px solid #EAE9F1;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.2); 
    -moz-box-shadow:0px 1px 0px 0px rgba(50, 50, 50, 0.2);
    box-shadow:0px 1px 0px 0px rgba(50, 50, 50, 0.2); 
    height: auto; 
}

.bg-tabs-slider {
	position:absolute;
	left:0px;
	top:638px;
	bottom:0px;
	background-image:url(../img/bg-black-60.png);
    background-position:left;
    background-repeat:repeat-x; 
    background-size:90px;
	height:90px;
	width:100%;
	}


.data-info {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#74b90a;
    font-size:2em;
    line-height:0.9em; 
	}

.data {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#afafaf;
    font-size:1.2em;
    line-height:0.9em; 
	}

.btn-false {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
	background-color:#e98900;
    color:#FFFFFF;
    font-size:1.5em;
	min-height:48px;
	line-height:1.6em;
	display:block;
	padding:9px;
	cursor:pointer;
	text-decoration:none;
	margin-left:15px;
	margin-right:15px;
	}

.btn-false:hover {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
	background-color:#008fbf;
	text-decoration:none;
	color:#FFF;
	}




.border-divider-data {
    border-right:1px solid #e7e7e7;
}



/* imagen cabecera */


.header-img {
	width: 100%;
    max-width: 1920px;
	margin-right: auto;
	margin-left: auto;
	}
	
@media (max-width: 768px) {
  .header-img {
    width: 100%;
	padding:0px;
  }
}

@media (min-width: 768px) {
  .header-img {
     width: 100%;
  }
}
@media (min-width: 992px) {
  .header-img {
     width: 100%;
  }
}
@media (min-width: 1200px) {
  .header-img {
    width: 100%;
  }
  
}

@media (min-width: 1470px) {
  .header-img {
	width: 100%;
    max-width: 1920px;
  }


}








/* BOOTSTRAP MODIFIED*/

/* ---- tabs ---- */

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
font-size: 1.2em;

}




/* ---- general ---- */

.btn-info {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    font-size:1.4em;
	color: #fff;
	background-color: #e98900;
	border-color: #db8100;
	min-height:42px;
}


.btn-info:hover {
color: #fff;
background-color: #e98900;
border-color: #e98900;
opacity:.8;

}


.small {
	line-height:1.2em;
	}
	




.carousel-indicators {
	position: inherit;
	bottom: -1px;
	left: 0px;
	z-index: 15;
	width: 100%;
	padding-left: auto;
	margin-left: auto;
	text-align: center;
	list-style: none;
	margin:0px;
	padding:0px;
	}

.carousel-indicators li {
	display: inline-block;
	width: 33.3333333%;
	height: auto;
	margin: 0;
	text-indent: inherit;
	cursor: pointer;
	background-color:none;
	background-image:url(../img/bg-primary-60.png);
    background-position:left;
    background-repeat:repeat-x; 
	border: none;
	border-radius:0px;
	padding-top:2%;
	float:left;
	
	}
	

.carousel-indicators .active {
	width: 33.3333333%;
	height: auto;
	margin: auto;
	background-color:#008fbf;
	color:#FFF;
	opacity:1;
	height:auto;
	padding:0px;
	padding-top:2%;
	
}

.slider-bottom {
	width:100%;
	display:block;
	position:absolute;
	z-index:15;
	bottom:0px;
	background-image:url(../img/bg-black-60.png);
    background-position:left;
    background-repeat:repeat-x; 
    background-size:90px;
	
	}

.slider-tab li {
	font-family:'CaeciliaL', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:1.4em;
	line-height:1.2em;
	color:#FFF;
	opacity:1;
	height:90px;
	text-align:center;
	border-right:1px solid #2a6d88;

	}
	
.slider-tab .active {
	font-family:'CaeciliaL', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color:#FFF;
	opacity:1;
	height:90px;

	}





@media(max-width:480px){
	
	
	.data-info {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#74b90a;
    font-size:2em;
    line-height:1.1em; 
	}

	.data {
		font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
		color:#afafaf;
		font-size:1.2em;
		line-height:1.1em; 
		}


    body {
        background:none;
        background:#FFFFFF;}

    .whiteBox {
        background-color: #FFF;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

    }

    #navigation .container .navbar-collapse ul.nav li {
        padding: 0px 6px; 
    }





	.modal-iframe {
		width:400px;
		height:378px;
		}


	.modal-dialog {
	width: 440px;
	
	}



	.border-divider-right {
		border-right:none;
		}
	
	.border-divider-left {
		border-left:none;
		}


.border-divider-data {
	border-right:none;
}



	.carousel-control {
	width: 2%;
	font-size: 20px;
	}
	
	.claim-ficha-autor {
	padding-left:12px;
	}

	

}

@media(max-width:300px){




.modal-iframe {
	width:280px;
	height:120px;
	}


	.modal-dialog {
	width: 250px;
	
	}


}


/*---------- navbar ---------*/



.nav {
    font-family:'UnitL', Helvetica, Arial, sans-serif;
    color:#FBFBFB;
}

.navbar {
    border-radius:0px;
}

.navbar-inverse .navbar-nav>li>a {
    color:#CCCCCC;
}




/*---------- menu navigation ---------*/


#navigation .container .navbar-collapse ul.nav li {
    font-family: 'UnitL';   
    font-size: 15px; 
    padding: 0px 6px; 
    border-left: 1px solid #444343; 
}

#navigation .container .navbar-collapse ul.nav li a {
    color: #fff; 
}

#navigation .container .navbar-collapse ul.nav li a:hover {
    color: #008fbf; 
}

#navigation .container .navbar-collapse ul.nav li:last-child {
    border-right: 1px solid #444343;
}

#navigation .container .navbar-collapse ul.nav li.active a {
    background: none; 
    color: #008fbf;
}



#navigation .container .navbar-collapse ul.nav li.display a { 
    background: url("../img/flecha-menu.png") no-repeat scroll right 21px; 
    cursor: pointer; 
    padding-right: 30px;
}

#navigation .container .navbar-collapse ul.nav li.display a:hover {
    background: url("../img/flecha-menu.png") no-repeat scroll right -39px; 
    color:#008fbf; 
}

#navigation .container .navbar-collapse ul.nav li.display ul.dropdown-menu li {
    margin: 0px; 
    padding: 0px; 
    border-right: none; 
	border-left: none; 
}


#navigation ul.dropdown-menu li.nav-header {
	 margin: 7px!important; 
    padding-left: 15px!important; 
	font-size:1.2em!important;
	color:#DB8100;
}

.dropdown-menu .divider {
background-color: #3f3f3f;

}


#navigation .container .navbar-collapse ul.nav li.display ul.dropdown-menu li a {
    border: 0px;  
    margin: 7px; 
    padding-left: 15px; 
    background: none;
}

#navigation .container .navbar-collapse ul.nav li.display ul.dropdown-menu li a:hover {background: none; color:#008fbf;} 


/*----------- end menu navigation -----------*/




/*----------- /navbar -----------*/


.toolbar .nav>li>a {
    color:#FFF; 
    padding: 0px;
    font-family: 'UnitL', Helvetica, Arial, san-serif;
}


.toolbar .nav>li>a:hover {
    background-color:#333;
}


.toolbar .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color:#008fbf;
}


.toolbar .nav > li > a:hover, .nav > li > a:focus {
    background-color: #008fbf;
}

.dropdown-menu {
    background-color: #333; 
    border-top:1px solid #333;
}


/* toolbar */	


ul.dropdown-menu.bg-color-FFF {
    background-color:#FFFFFF;
}

.toolbar { 
    margin: 0px;  
    padding: 0px 15px 0px 0px; 
    position: relative;  
    height:32px;
    font-family: 'UnitL'; 
    font-size: 1em;  
}



.campus {
    background: url("../img/campus-virtual.png") center left no-repeat; 
    color: #fff; 
    font-size: 13px; 
}
.lang a {
    color:#fff; 
}



#toolbar-nav.nav li a {
    padding: 7px 12px;
}	


form.search {
    margin:0px;
    padding:0px;
}	

input.search-box {
    background-color:#0076a9;
    border: 1px solid #0076a9;
    padding-left:6px;
    padding-right:6px;
    border-radius:4px;
    opacity:.8;
    outline:none;
    color:#a6d1e7;
    width:60px;
    height:22px;
    line-height:22px;
    -webkit-transition: width 0.2s; /* For Safari 3.1 to 6.0 */
    transition: width 0.2s;
    margin-top:6px!important;
    float:left;

}


input.search-box::-webkit-input-placeholder {
    color:#a6d1e7;
}
input.search-box::-moz-placeholder {
    color: rgba(0,5,143,.5);
}
input.search-box:-moz-placeholder {  
    color:#a6d1e7;
    text-transform: uppercase;
}
input.search-box:-ms-input-placeholder { 
    color:#a6d1e7;
}


input.search-box:focus {
    outline:none;
    border: 1px solid #305C97;
    color:#FFF;
    width:150px;
    animation:linear;
}

.bt-search {
    margin:0px;
    padding:0px;
    float:left;
}


.mask {
    overflow:visible;
    width:100%;
}


.mask-mini {
    overflow:visible;
    width:100%;
}



/* carousel settings */		



.carousel-control.left {
    background-image: -webkit-linear-gradient(left,color-stop(rgba(eeeff0,eeeff0,eeeff0,0.5) 0),color-stop(rgba(255,255,255,255.0001) 100%));
    background-image: linear-gradient(to right,rgba(eeeff0,eeeff0,eeeff0,0.5) 0,rgba(255,255,255,255.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80eeeff0',endColorstr='#80FFFFFF',GradientType=1);
}


.carousel-control.right {
    background-image: -webkit-linear-gradient(left,color-stop(rgba(eeeff0,eeeff0,eeeff0,0.5) 0),color-stop(rgba(255,255,255,255.0001) 100%));
    background-image: linear-gradient(to right,rgba(eeeff0,eeeff0,eeeff0,0.5) 0,rgba(255,255,255,255.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80eeeff0',endColorstr='#80FFFFFF',GradientType=1);
}


.carousel-caption {
		width:auto;
		left:0;
		right:auto;
		margin-left:0;
		top:30px;
		bottom:auto;
		text-align:left;
		border-radius:0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		padding:0px 15px 3px 15px;
		}		



.carousel-h1 {
		top:20px;
		height:auto;
		text-align:left;
		padding:6px 15px;
		position:absolute;
		font-size:1em;

		}		



.product-h1 {
		top:5px;
		height:auto;
		text-align:left;
		padding:6px 15px;
		position:absolute;
		font-size:1em;
		width:65%;

		}		



.product-h1 h1 {
		font-size:2.5em;
		line-height:1em;
		}		


.text-shadow{
		text-shadow: -2px 1px 3px rgba(0, 0, 0, 0.8);
		}		


.carousel-claim {
		top:70px;
		width:38%;
		height:auto;
		text-align:left;
		text-shadow:none;
		margin-left:0;
		margin-top:15px;
		border-radius:0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		padding:6px 15px;
		position:absolute;
		}		


.product-claim {
		top:98px;
		width:40%;
		height:auto;
		text-align:left;
		text-shadow:none;
		margin-left:0;
		margin-top:10px;
		border-radius:0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		padding:6px 15px 18px 15px;
		position:absolute;
		margin-left:21px;
		}		

.widget-claim {
		top:70px;
		width:40%;
		height:auto;
		text-align:left;
		text-shadow:none;
		margin-left:0;
		margin-top:10px;
		border-radius:0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		padding:6px 15px 18px 15px;
		position:absolute;
		margin-left:21px;
		}		


.slider {
	width: 100%;
	background-color: #000000;
	max-height:564px;
	overflow: hidden;
	}


.slide {
	
	}




/* formulario */



.obligatorio {
    color:#C00;
    font-size:12px;
    font-family:Helvetica, Arial, sans-serif;
}

label {
	padding-left:6px;
	padding-bottom:6px;
    font-size:1em;
    font-weight:lighter;
    font-family:Helvetica, Arial, sans-serif;
    color:#999;
}


.margin-top-menos  {
	margin-top:-304px;
	}

/* end formulario */	








/* media queries */


@media (max-width:1470px){



.bg-tabs-slider {

	top:534px;

	}


}



@media (max-width:1440px){


.carousel-caption {
			
		}
		

    h1 {
        font-size:1.8em;
        line-height:1.2em;
		 }

	.claim {
		font-size:1.4em;
        line-height:1.2em;
		}



.modal-iframe {
	width:640px;
	height:378px;
	}


	.modal-dialog {
	width: 680px;
	
	}


#vcontainer1_wrapper {
	width:90%!important;}		

.bg-tabs-slider {

	top:544px;
	height:80px;

	}



.slider-tab li {
	font-size:1.3em;
	line-height:1.2em;
	color:#FFF;
	height:80px;
	}
	
.slider-tab .active {
	height:80px;
	}


	.carousel-control {
	width: 3%;

	}





}



@media (max-width:1199px){
	
	
.widget-claim {
	top: 0px;
	right: 12px;
	height: auto;
	left:;
	text-align: left;
	text-shadow: none;
	margin-left: 0;
	margin-top: 0px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 6px 15px 18px 15px;
	position: absolute;
	margin-left: 21px;
	}	


.product-h1 {
	width:58%;
	font-size:1em;
	}

    #navigation .container .navbar-collapse ul.nav li {

        padding: 0px 9px; 

    }


    .slogan {
        font-size:1.3em;
        line-height:1em;
        margin-top:6px;
    }

    img.mask {
        overflow:hidden;
        min-width:960px;
		max-width:1920px!important;
		max-height:564px;

    }


    img.mask-mini {
        overflow:hidden;
        min-width:960px;
		max-width:1920px!important;
		max-height:364px;

    }


.margin-top-menos  {
	margin-top:-304px;
	}


.carousel-caption {
		font-size:0.9em;
		padding:6px 12px;
		}		


    h1 {
        font-size:1.8em;
        line-height:1.2em;
		 }

	.claim {
		font-size:1.2em;
        line-height:1.2em;
		}



	.modal-iframe {
		width:640px;
		height:378px;
		}
	

	.modal-dialog {
	width: 680px;
	
	}


	#vcontainer1_wrapper {
		width:90%!important;
		}
		

.bg-tabs-slider {

	top:472px;
	height:80px;

	}


.slider-tab li {
	font-size:1.2em;
	line-height:1.2em;
	color:#FFF;
	height:80px;
	}
	
.slider-tab .active {
	height:80px;
	}

	.carousel-control {
	width: 3%;

	}
	
	


}




@media (max-width:768px){


    /* corporative tags */	




    body {
        background:none;
        background:#FFFFFF;}



    header .logo { 
        margin: 6px 0 4px 0px;
    }

	.claim {
		font-size:1em;
		line-height:1.2em; 
		margin:0px;
		background-image:none;
		padding-left:9px;
		padding-top:9px;  
	}


    header .claim p {
        font-size: 1em;

    }

	.claim-ficha-autor {
	padding-left:9px;
	}



    h1 {

        font-size:1.6em;
        line-height:1em; 

    }


    h2 {
        font-size:1.4em;
        line-height:1em; 
    }


    h3 {
        font-size:1.2em;
        line-height:1.4em; 
    }
	

.product-h1 h1 {
		font-size:2em;
		line-height:1em;
		}		

	div.acordeon .panel-group .panel .panel-heading h3.panel-title {
	font-size: 1.3em;
	}

    h3.minih3 {

        font-size:1.2em;
    }

    h4 {
        font-size:1.1em;
    }

    p {
        font-size:1em;
    }


    .destacado {
        font-size:1.1em;
    }

    .copy {
        color:#999;
        padding-top:24px;
    }

	.claim {
		font-size:1.4em;
		}


    /* end corporative tags */	


    .mask {
        overflow:hidden;
    }

    img.mask {
        overflow:hidden;
        min-width:768px;

    }




    .mask-mini {
        overflow:hidden;
    }

    img.mask-mini {
        overflow:hidden;
        min-width:768px;

    }


    .slogan {
        font-size:1.2em;
    }

    #navigation .container .navbar-collapse ul.nav li {

        padding: 0px 6px; 
    }
	
	
.whiteBox {
    background-color:#FFF; 
    border:none;
    -webkit-box-shadow: none; 
    -moz-box-shadow:none;
    box-shadow: none; 

	}

.carousel-caption {
		padding:3px 6px;

		}		


.margin-top-menos  {
	margin-top:0px;
	}


.carousel-caption {
		}		

	.carousel-claim {
		width: 75%;

	}

	.product-claim {
		width: 75%;

	}
	
	.modal-iframe {
	width:520px;
	height:300px;
	}


	.modal-dialog {
	width: 560px;
	
	}


#vcontainer1_wrapper {
	width:90%!important;}

.bg-tabs-slider {
	display:none;
	}


	.carousel-control {
	width: 3%;

	}


	.data-info {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#74b90a;
    font-size:1.6em;
    line-height:1.1em; 
	}

	.data {
		font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
		color:#afafaf;
		font-size:1em;
		line-height:1.1em; 
		}

	.btn-false {
		font-size:1.6em;
		line-height:1.8em;
		padding:6px;
		margin-left:15px;
		margin-right:15px;
		}



}	

@media (max-width:991px){

	.margin-top-menos  {
		margin-top:0px;
		}
		
    #navigation .container .navbar-collapse ul.nav li {

        padding: 0px; 
    }


.product-h1 h1 {
		font-size:2.2em;
		line-height:1em;
		width:90%;
		}		

	.product-claim {
		width: 50%;
		}
			.carousel-control {
			width: 3%;
		
			}

	.data-info {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#74b90a;
    font-size:1.6em;
    line-height:1.1em; 
	}

	.data {
		font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
		color:#afafaf;
		font-size:1em;
		line-height:1.1em; 
		}


	.btn-false {
		font-size:1.2em;
		line-height:2em;
		padding:6px;
		margin-left:0px;
		margin-right:0px;
		}


}

@media (max-width:970px){


	
    body {
        background:none;
        background:#FFFFFF;}




    #navigation .container .navbar-collapse ul.nav li {

        padding: 0px; 
    }





    h1 {
        font-size:1.6em;
        line-height:1.2em;
		 }

	.claim {
		font-size:1.2em;
        line-height:1.2em;
		}


.whiteBox {
    background-color:#FFF; 
    border:none;
    -webkit-box-shadow: none; 
    -moz-box-shadow:none;
    box-shadow: none; 

}



.margin-top-menos  {
	margin-top:0px;
	}



.carousel-caption {
		}		



	.data-info {
	font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
    color:#74b90a;
    font-size:1.6em;
    line-height:1em; 
	}

	.data {
		font-family: 'CaeciliaL', Helvetica, Arial, sans-serif;
		color:#afafaf;
		font-size:1em;
		line-height:1em; 
		}



}	



@media (max-width:480px){
	
	
    body {
        background:none;
        background:#FFFFFF;}

    h1 {

        font-size:1.3em;
        line-height:1.3em;

    }

.product-h1 h1 {
		font-size:1.8em;
		line-height:1em;
		}		

    img.mask {
        overflow:hidden;
        min-width:768px;
		margin-left:-220px;
    }


    img.mask-mini {
        overflow:hidden;
        min-width:768px;
		margin-left:-220px;
    }

	.carousel-caption {
		padding:0px 12px;
		}		



	.margin-top-menos  {
		margin-top:0px;
		}


	.outstanding {
		font-size:1.2em;
		line-height:1.2em; 
		}




	.modal-iframe {
		width:340px!important;
		height:200px!important;
		}
	
	
		.modal-dialog {
		width: 380px!important;
		
		}
	
	
	#vcontainer1_wrapper {
		width:300px!important;
		height:200px!important;
		}
	
	.claim {
		font-size:1em;
		line-height:1.2em; 
		margin:0px;
		background-image:none;
		padding-left:9px;
		padding-top:9px;  
	}

	.product-claim {
		width: 75%;

	}

	.btn-false {
		font-size:1.6em;
		line-height:1.8em;
		padding:6px;
		margin-left:15px;
		margin-right:15px;
		}


}	






.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


	input[type=checkbox] {
    zoom:1.5;
	}





/* estilos acordeon oferta academica */


.acordeon {
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

.acordeon .panel-group {
  background-color: #ffffff; }

.acordeon .panel-group .panel {
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px; }

.acordeon .panel-group .panel.panel-default > .panel-heading .panel-title .fa.fa-angle-down:before {
  content: "\f106";
  margin: 0;
  position: absolute;
  right: 8px;
  top: 12px;
  font-size: 1.6em;
  color: #008fbf; }

.acordeon .panel-group .panel.panel-default > .panel-heading .panel-title .collapsed + .fa.fa-angle-down:before {
  content: "\f107"; }

.acordeon .panel-group .panel .panel-heading {
  background-color: transparent; }

.acordeon .panel-group .panel .panel-heading + .panel-collapse .panel-body {
  border: none; }

.acordeon .panel-group .panel .panel-heading h3.panel-title {
  font-size: 1.1em;
  position: relative;
  padding:14px;
  font-size: 1.5em;
  color: #008fbf;
   }

.acordeon .panel-group .panel .panel-collapse .panel-body {
  border: none; }

.acordeon .panel-group .panel .panel-collapse .panel-body h3 {
  font-size: 1.1em; }

.acordeon .panel-group .panel + .panel {
  margin: -2px 0 0; }

.acordeon .panel-group .panel.panel-default > .panel-heading {
  border-bottom: 1px solid #DDDDDD; }


ul.listado-horizontal li {
  display: inline;
  float: left;
  text-align: center;
  position: relative; }


ul.listado-vertical {
  padding: 0 0 0 6%; }

ul.listado-vertical li {
  list-style:  none;
  line-height:1.8em;
  font-size:1.1em;
  font-weight:lighter;
  }


	
.modal-iframe-form {
	height:520px;
	}
	
.top-bar {
	width:100%;
	position:fixed;
	z-index:16;
	top:0px;
	left:0px;
	height:64px;
	background-color:#FFF;
	border-bottom:2px solid #ccc;
	display:none;	
	}		


#imagelightbox-overlay {
		background-color: #fff;
		background-color: rgba( 255, 255, 255, .9 );
		position: fixed;
		z-index: 9998;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		}	
	


#imagelightbox {
cursor: pointer;
position: fixed;
z-index: 10000;
-ms-touch-action: none;
touch-action: none;
-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .4 );
-moz-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .4 );
box-shadow: 0 0 3.125em rgba( 0, 0, 0, .4 );
}





/* apaños para compensar el enorme menú */


@media (max-width: 1200px){
	
	#navigation .container .navbar-collapse ul.nav li { 
	padding: 0px;
	
	}

	
	.nav>li>a {
	
	padding-left: 6px;
	padding-right:6px;
	}


}


@media (max-width: 970px){
	
	#navigation .container .navbar-collapse ul.nav li { 
	padding: 0px;
	font-size:13px;
	
	}
	
	

	

}



		/* IMAGE LIGHTBOX SELECTOR */

		#imagelightbox
		{
			cursor: pointer;
			position: fixed;
			z-index: 10000;

			-ms-touch-action: none;
			touch-action: none;

			-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
			box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
		}


		/* ACTIVITY INDICATION */

		#imagelightbox-loading,
		#imagelightbox-loading div
		{
			border-radius: 50%;
		}
		#imagelightbox-loading
		{
			width: 2.5em; /* 40 */
			height: 2.5em; /* 40 */
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			position: fixed;
			z-index: 10003;
			top: 50%;
			left: 50%;
			padding: 0.625em; /* 10 */
			margin: -1.25em 0 0 -1.25em; /* 20 */

			-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
			box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
		}
			#imagelightbox-loading div
			{
				width: 1.25em; /* 20 */
				height: 1.25em; /* 20 */
				background-color: #fff;

				-webkit-animation: imagelightbox-loading .5s ease infinite;
				animation: imagelightbox-loading .5s ease infinite;
			}

			@-webkit-keyframes imagelightbox-loading
			{
				from { opacity: .5;	-webkit-transform: scale( .75 ); }
				50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
				to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
			}
			@keyframes imagelightbox-loading
			{
				from { opacity: .5;	transform: scale( .75 ); }
				50%	 { opacity: 1;	transform: scale( 1 ); }
				to	 { opacity: .5;	transform: scale( .75 ); }
			}


		/* OVERLAY */

		#imagelightbox-overlay
		{
			background-color: #fff;
			background-color: rgba( 255, 255, 255, .9 );
			position: fixed;
			z-index: 9998;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}


		/* "CLOSE" BUTTON */

		#imagelightbox-close
		{
			width: 2.5em; /* 40 */
			height: 2.5em; /* 40 */
			text-align: left;
			background-color: #666;
			border-radius: 50%;
			position: fixed;
			z-index: 10002;
			top: 2.5em; /* 40 */
			right: 2.5em; /* 40 */

			-webkit-transition: color .3s ease;
			transition: color .3s ease;
		}
			#imagelightbox-close:hover,
			#imagelightbox-close:focus
			{
				background-color: #111;
			}
			#imagelightbox-close:before,
			#imagelightbox-close:after
			{
				width: 2px;
				background-color: #fff;
				content: '';
				position: absolute;
				top: 20%;
				bottom: 20%;
				left: 50%;
				margin-left: -1px;
			}
			#imagelightbox-close:before
			{
				-webkit-transform: rotate( 45deg );
				-ms-transform: rotate( 45deg );
				transform: rotate( 45deg );
			}
			#imagelightbox-close:after
			{
				-webkit-transform: rotate( -45deg );
				-ms-transform: rotate( -45deg );
				transform: rotate( -45deg );
			}


		/* CAPTION */

		#imagelightbox-caption
		{
			text-align: center;
			color: #fff;
			background-color: #666;
			position: fixed;
			z-index: 10001;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0.625em; /* 10 */
		}


		/* NAVIGATION */

		#imagelightbox-nav
		{
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			border-radius: 20px;
			position: fixed;
			z-index: 10001;
			left: 50%;
			bottom: 3.75em; /* 60 */
			padding: 0.313em; /* 5 */

			-webkit-transform: translateX( -50% );
			-ms-transform: translateX( -50% );
			transform: translateX( -50% );
		}
			#imagelightbox-nav button
			{
				width: 1em; /* 20 */
				height: 1em; /* 20 */
				background-color: transparent;
				border: 1px solid #fff;
				border-radius: 50%;
				display: inline-block;
				margin: 0 0.313em; /* 5 */
			}
			#imagelightbox-nav button.active
			{
				background-color: #fff;
			}


		/* ARROWS */

		.imagelightbox-arrow
		{
			width: 3.75em; /* 60 */
			height: 7.5em; /* 120 */
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			vertical-align: middle;
			display: none;
			position: fixed;
			z-index: 10001;
			top: 50%;
			margin-top: -3.75em; /* 60 */
		}
		.imagelightbox-arrow:hover,
		.imagelightbox-arrow:focus
		{
			background-color: #666;
			background-color: rgba( 0, 0, 0, .75 );
		}
		.imagelightbox-arrow:active
		{
			background-color: #111;
		}
			.imagelightbox-arrow-left
			{
				left: 2.5em; /* 40 */
			}
			.imagelightbox-arrow-right
			{
				right: 2.5em; /* 40 */
			}
			.imagelightbox-arrow:before
			{
				width: 0;
				height: 0;
				border: 1em solid transparent;
				content: '';
				display: inline-block;
				margin-bottom: -0.125em; /* 2 */
			}
				.imagelightbox-arrow-left:before
				{
					border-left: none;
					border-right-color: #fff;
					margin-left: -0.313em; /* 5 */
				}
				.imagelightbox-arrow-right:before
				{
					border-right: none;
					border-left-color: #fff;
					margin-right: -0.313em; /* 5 */
				}

		#imagelightbox-loading,
		#imagelightbox-overlay,
		#imagelightbox-close,
		#imagelightbox-caption,
		#imagelightbox-nav,
		.imagelightbox-arrow
		{
			-webkit-animation: fade-in .25s linear;
			animation: fade-in .25s linear;
		}
			@-webkit-keyframes fade-in
			{
				from	{ opacity: 0; }
				to		{ opacity: 1; }
			}
			@keyframes fade-in
			{
				from	{ opacity: 0; }
				to		{ opacity: 1; }
			}

		@media only screen and (max-width: 41.250em) /* 660 */
		{
			#container
			{
				width: 100%;
			}
			#imagelightbox-close
			{
				top: 1.25em; /* 20 */
				right: 1.25em; /* 20 */
			}
			#imagelightbox-nav
			{
				bottom: 1.25em; /* 20 */
			}

			.imagelightbox-arrow
			{
				width: 2.5em; /* 40 */
				height: 3.75em; /* 60 */
				margin-top: -2.75em; /* 30 */
			}
			.imagelightbox-arrow-left
			{
				left: 1.25em; /* 20 */
			}
			.imagelightbox-arrow-right
			{
				right: 1.25em; /* 20 */
			}
		}

		@media only screen and (max-width: 20em) /* 320 */
		{
			.imagelightbox-arrow-left
			{
				left: 0;
			}
			.imagelightbox-arrow-right
			{
				right: 0;
			}
		}
		
		
		
		
		
/* Revisión estilos 23 julio 2014 */		


@media (max-width:1199px){
	
	
.widget-claim {
	top: 0px;
	right: 12px;
	height: auto;
	left:;
	text-align: left;
	text-shadow: none;
	margin-left: 0px;
	margin-top: 0px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 6px 15px 18px 15px;
	position: absolute;
	}	


.product-h1 {
	width:58%;
	font-size:1em;
	}

}

@media (max-width:970px){

.claim-ficha {
	font-size: 1.2em;
	line-height: 1.2em;
	color: #FFFFFF;
	margin: 0px;
	background-image: none; 
	padding-left: 0px; 
	padding-top: 0;
	}
	
.claim-ficha-autor {
	margin: 0px;
	padding-left: 0px;
	}


.carousel-h1 {
	top: 0px;
	padding: 3px 7px;
	margin-left:36px;
	}
	
	.carousel-claim {
		top:36px;
		margin-left:36px;
		
	}	
	
.widget-claim {
	top: 0px;
	right: 12px;
	height: auto;
	left:;
	text-align: left;
	text-shadow: none;
	margin-left: 0px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 6px 15px 18px 15px;
	position: absolute;
	margin-top: -15px;
	}	
	
	
}

@media (max-width: 768px){
	.carousel-claim {
		width: 80%;
	}
	
.widget-claim {
	top: 0px;
	right: 12px;
	height: auto;
	left:;
	text-align: left;
	text-shadow: none;
	margin-left: 0px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 6px 15px 18px 15px;
	position: absolute;
	margin-top: -24px;
	}	
	
}