@charset "ISO-8859-1";
/* CSS Congresos UNIR 2014 */










/*-----banda azul-----*/





.icon-campus {
	background-image:url(../img/campus-virtual.png);
	background-repeat:no-repeat;
	background-position:left;
	}










